body{
    margin: 0px;
    padding: 0px;
}

.flex{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #c8d6e5, #222f3e);
    display: flex;
    align-items: center;
    justify-content: center;
}